<div id="mobsolcarousel-example" class="carousel slide height-fifty" data-interval="false">
    <ol class="carousel-indicators bottom-minus-four">
        <li data-target="#mobsolcarousel-example" data-slide-to="0" class="active"></li>
        <li data-target="#mobsolcarousel-example" data-slide-to="1"></li>
        <li data-target="#mobsolcarousel-example" data-slide-to="2"></li>
        <li data-target="#mobsolcarousel-example" data-slide-to="3"></li>
        <li data-target="#mobsolcarousel-example" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner height-fifty" role="listbox">
        <div class="carousel-item active height-fifty">
            <img src= <%= asset_path ('mob_solucoes_icone_publicidade.png')%> class=" d-block height-twenty" alt="img1">
            <div class="carousel-caption d-block height-thirty">
                <p class="padding-top-four font-one-eight">
                    Branding<br>
                    Design<br>
                    Planejamento<br>
                    Comunicação<br>
                    Branded Content<br>
                    Produção Audiovisual<br>
                    Sites & Apps
                </p>
            </div>
        </div>
        <div class="carousel-item height-fifty">
            <img src= <%= asset_path ('mob_solucoes_icone_redesociais.png')%> class=" d-block height-twenty" alt="img2">
            <div class="carousel-caption d-block height-thirty">
                <p class="padding-top-four font-one-eight">                    
                    Gestão de Tráfego<br>
                    Planejamento de Conteúdo<br>
                    SAC 2.0<br>
                    Lançamento de Produtos e Serviços
                </p>
            </div>
        </div>
        <div class="carousel-item height-fifty">
            <img src= <%= asset_path ('mob_solucoes_icone_analise.png')%> class=" d-block height-twenty" alt="img3">
            <div class="carousel-caption d-block height-thirty">
                <p class="padding-top-four font-one-eight">                    
                    Inteligência de Mercado<br>
                    Pesquisa de Opinião<br>
                    Focus Group<br>
                    Tracking
                </p>
            </div>
        </div>
        <div class="carousel-item height-fifty">
            <img src= <%= asset_path ('mob_solucoes_icone_estrategia.png')%> class=" d-block height-twenty" alt="img4">
            <div class="carousel-caption d-block height-thirty">
                <p class="padding-top-four font-one-eight">                    
                    Diagnóstico Situacional<br>
                    Planejamento Estratégico<br>
                    Marketing Político<br>
                    Comunicação Governamental<br>
                    Campanha Eleitoral
                </p>
            </div>
        </div>
        <div class="carousel-item height-fifty">
            <img src= <%= asset_path ('mob_solucoes_icone_assessoria.png')%> class=" d-block height-twenty" alt="img5">
            <div class="carousel-caption d-block height-thirty">
                <p class="padding-top-four font-one-eight">                    
                    Marketing<br>
                    Comunicação<br>
                    Estratégia<br>
                    Imprensa<br>
                    Relações Públicas<br>
                    Gerenciamento de Crise
                </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#mobsolcarousel-example" role="button" data-slide="prev">
        <span id="mobsoliconprev" class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#mobsolcarousel-example" role="button" data-slide="next">
        <span id="mobsoliconnext" class="carousel-control-next-icon"></span>
    </a>
</div>